
* {
    margin: 0;
    margin-block: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    resize: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: var(--unit_rem);
}

body{
    width: 100vw;
    height: 100vh;
}

hr {
    height: 1px;
    background: var(--gray_2);

}

h1 {font-size: var(--h1);}
h2 {font-size: var(--h2);}
h3{font-size: var(--h3);}
h4 {font-size: var(--h4);}
h5{font-size: var(--h5);}
h6 {font-size: var(--h6);}
