.disblock_mobile{display: none;}
.dis_initial_mobile{display: none}

.sec_rooms {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sec_filters {
    width: 25%;
    border-right: 2px solid var(--gray_2);
    border-bottom: none;
    margin-bottom: 0;
    font-size: 1.4rem;
    background-color: var(--white);
    padding: 1rem;
}
.sec_result_area {
    width: 75%;
    padding: 1rem 1rem 0;

}

.sec_results_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;

}
.sec_results_title >p:first-child{
    width: 100%;
    font-weight: lighter;
    font-size: 1.5rem;
}
.sec_results_title > p > button{
    height: max-content;
    width: max-content;
}

.sec_filters > p{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
.sec_filters > div {
    border: 1px solid var(--green_d);
    padding: 1rem;
    margin-top: 1rem;
}
.sec_filters > div > h5 {
    margin-bottom: 0.5rem;
}

.sec_area_chooser {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

 .area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1rem;
    align-items: center;
    gap: 4px;
}

.area img {
    height: 40px;
    width: 75px;
    border-radius: 8px;
}

.area span {
    text-align: center;
    line-height: 1rem;
    width: 80%;
}

.area_selected img {
    height: 40px;
    width: 75px;
    border-radius: 8px;
    border: 2px solid var(--green_d);
    padding: 1px;
    box-shadow: var(--gray_3) 4px 4px 6px;
}

.sec_range {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: nowrap;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.sec_range input[type='range'] {
    -webkit-appearance: none !important;
    background: var(--green);
    border-radius: 2rem;
    height: 2px;
}

.sec_range input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: var(--green_d);
    height: 15px;
    width: 15px;
    border-radius: 10px;
}

.sec_additional_filters > p {
    margin-bottom: 0.5rem;
    vertical-align: middle;
}

.sec_additional_filters input {
    filter: hue-rotate(240deg);
    vertical-align: middle;
    margin-right: 4px;
}

.room_list{
    display: flex;
    flex-wrap: wrap;
}

.room{
    border: 0.1rem solid var(--gray_3);
    border-radius: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}
.room:hover{
    border: none;
    box-shadow: var(--green) 2px 4px 6px;
}
.room_img{
    width: 40%;
}

.room_img_main > img{
    display: block;
    width: 100%;
    height: 16rem;
    object-fit: cover;
}
.room_img_others{
    width: 100%;
    padding-top: 0.5rem;
    overflow-x: scroll;
    overflow-y: hidden;

    display: flex;
    flex-wrap: nowrap;
    border-top: 1px solid var(--green);
    border-bottom: 1px solid var(--green);
}
.room_img_others::-webkit-scrollbar {
    height:3px;
    background-color: var(--green);

}
.room_img_others::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background-color: var(--green_d);
}


.room_img_others > img{
    display: block;
    width: 6rem;
    min-width: 6rem;

    height: 3rem;
    min-height: 3rem;
    object-fit: cover;
    margin: 0.5rem 0.7rem;
    border-radius: 4px;

}
.room_img_others img.selected{
    border: 1px solid var(--green_d);
    padding: 1px;
    box-shadow: var(--green) 2px 2px 4px;
}
.room_text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.room_title{
    padding: 0 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.room_title>p{
    display: flex;
    align-items: center;
}
.rt_room{
    font-size: 2rem;
    font-weight: bolder;
}

.rt_capacity, .rt_capacity_ic{
    color: var(--green_d);
    min-width: max-content;
}
.rt_capacity_ic{
    margin-left: auto;
    margin-right: 4px;
}
.room_conditions{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.room_conditions{
    padding: 0 0.8rem;
}

.rc{
    display: inline-block;
    color: var(--gray_11);
    border: 1px solid var(--gray_11);
    border-radius: 4px;
    padding:  0.25rem 0.25rem;
    vertical-align: middle;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}
.rc>i{
    margin-right: 4px;
}

.rc_good{
    border-color: var(--green_d);
    color: var(--green_d);
}

.rc_good{
    border-color: var(--green_d);
    color: var(--green_d);
}

.rc_average{
    border-color: var(--orange);
    color: var(--orange_d);
}

.rc_bad{
    border-color: var(--red_d);
    color: var(--red_d);
}
.rc_neutral{
    border-color: var(--gray_11);
    color: var(--gray_11);
}

.room_description{
    padding: 0 0.8rem;
    font-size: 1rem;
}


.rd_features > p{
    font-weight: 500;
}

.rd_features > ul > li {
    margin-left: 0.8rem;
}
.room_cost_book{
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
}
.rcb_charges{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.rcb_charges > p  {
    vertical-align: middle;
    color: var(--gray_11);

}
.rcb_charges s{
    margin-left: 1rem;
    text-decoration:line-through;
    text-decoration-style: dashed;
}
.rcb_charges > p:first-child > span {
    font-size: 1.8rem;
    vertical-align: bottom;
    font-weight: bolder;
    color: var(--black);
}
.rcb_charges >p:last-child >i{
    margin-right: 4px;
}


.rcb_book{
    margin-left: auto;
}
.rcb_book > button {
    font-size: 1.2rem;
}

.sec_pagination {
    width: 100%;

    padding: 1rem 0;

    background-color: var(--white);
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.sec_checkout{}

.ct_title{
    padding: 1rem 0;
    text-align: center;
}

.ct_images{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.cti_main{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    height: 40rem;
}
.cti_main > img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cti_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:  1rem auto;
    overflow: scroll;
    gap: 1rem;
    width: 65%;

}

.cti_list > img{
    display: block;
    width: 8rem;
    min-width: 8rem;
    height: 4rem;
    min-height: 4rem;
    object-fit: cover;
    margin: 0.5rem 0.7rem;
}
.ri_selected{
    border: 1px solid var(--green_d);
    padding: 1px;
    box-shadow: var(--green) 2px 2px 4px;
}
.ct_roominfo{
    width: 65%;
    margin: 0 auto;
}

.ct_roominfo > h5{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

.tb_room{
    width: 100%;
    margin: 2rem 0;
    border: none;
    border-collapse: collapse;
    font-size: 1.3rem;
}
.tb_room th,td{
    border: 1px solid var(--gray_3);
    padding: 0.75rem;
    text-align: start;

}
.tb_room th{
    border: 1px solid var(--green);
    background-color: var(--green_d);
    color: white;
}

.tb_room tr:nth-child(even){ background-color: var(--gray_1)}
.tb_room tr:hover{ background-color: var(--gray_2)}


.ct_userinfo{
    width: 65%;
    margin: 0 auto;
}
.ct_userinfo > h5{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

.ct_userinfo > form{
    border: 1px solid var(--gray_2);
    margin: 2rem 0;
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.ct_userinfo  label {
    margin: 1.5rem 0 0.5rem 0;
}

.ct_userinfo input{
    border: 1px solid var(--gray_2);
    padding: 1rem 0.5rem;
    border-radius: 4px;
}

.ct_userinfo input[type="submit"]{
    margin-top: 1.5rem;
    border: none;
    background-color: var(--green_d);
    color: white;
    text-transform: uppercase;

}
